<?php

use FlyingAnvil\BadgeGenerator\Application\DataObject\BadgeOptions;

/**
 * @var BadgeOptions $badgeOptions
 * @var callable $interpolateColor
 */

$leftText  = $badgeOptions->getLeftText();
$rightText = $badgeOptions->getRightText();

$widthPerCharacter = 6;
$leftLenght  = strlen($leftText);
$rightLenght = strlen($rightText);

$width = (($leftLenght + $rightLenght) * $widthPerCharacter) + 20;

$xOffsetBackground = ($leftLenght * $widthPerCharacter) + 10;

$leftTextX  = ($xOffsetBackground * .5) * 10;
$rightTextX = ($xOffsetBackground + (($width - $xOffsetBackground) * .5)) * 10;

$textLenghtLeftText  = ($leftLenght * 60) + 10;
$textLenghtRightText = ($rightLenght * 60) + 10;

$rightColor = $badgeOptions->getRightBackgroundColor();

if ($badgeOptions->usePercentageColoring()) {
    $rightColor = $interpolateColor(
        $badgeOptions->getLowPercentColor(),
        $badgeOptions->getMidPercentColor(),
        $badgeOptions->getHighPercentColor(),
        $badgeOptions->getPercentage()
    );
}

?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="<?= $width ?>" height="20">
    <?php if ($badgeOptions->useGradient()) : ?>
    <linearGradient id="gradient" x2="0" y2="100%">
        <stop offset="0%" stop-color="white" stop-opacity=".3"></stop>
        <stop offset="100%" stop-color="black" stop-opacity=".2"></stop>
    </linearGradient>
    <?php endif; ?>

    <clipPath id="radius-clip">
        <rect width="<?= $width ?>" height="20" rx="<?= $badgeOptions->getRadius() ?>"></rect>
    </clipPath>
    <g clip-path="url(#radius-clip)">
        <path fill="#<?= $badgeOptions->getLeftBackgroundColor() ?>"
              d="M 0,0
                 h <?= $xOffsetBackground ?>
                 v 20
                 H 0
                 z"></path>
        <path fill="#<?= $rightColor ?>"
              d="M <?= $xOffsetBackground - .5 ?>,0
                 H <?= $width ?>
                 v 20
                 H <?= $xOffsetBackground - .5 ?>
                 z"></path>

        <?php if ($badgeOptions->useGradient()) : ?>
        <path fill="url(#gradient)" d="M 0,0
                                       h <?= $width ?>
                                       v 20
                                       H 0
                                       z"></path>
        <?php endif; ?>

    </g>
    <g text-anchor="middle" font-family="DejaVu Sans Mono, Ubuntu Monospace, monospace" font-size="110">
        <!-- Left Text -->
        <text
            x="<?= $leftTextX + 10?>"
            y="150"
            fill="#010101"
            fill-opacity=".3"
            transform="scale(.1)"
            textLength="<?= $textLenghtLeftText ?>"
        >
            <?= $leftText ?>
        </text>
        <text
            x="<?= $leftTextX ?>"
            y="140"
            fill="#<?= $badgeOptions->getLeftTextColor() ?>"
            transform="scale(.1)"
            textLength="<?= $textLenghtLeftText ?>"
        >
            <?= $leftText ?>
        </text>

        <!-- Right Text -->
        <text
            x="<?= $rightTextX + 10 ?>"
            y="150"
            fill="#010101"
            fill-opacity=".3"
            transform="scale(.1)"
            textLength="<?= $textLenghtRightText ?>"
        >
            <?= $rightText ?>
        </text>
        <text
            fill="#<?= $badgeOptions->getRightTextColor() ?>"
            x="<?= $rightTextX ?>"
            y="140"
            transform="scale(.1)"
            textLength="<?= $textLenghtRightText ?>"
        >
            <?= $rightText ?>
        </text>
    </g>
</svg>
